.terraform/
terraform.tfstate.d/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json
!terraform.tfvars.example
tfplan
tfplan.*
*.tfplan
*.tfplan.*
*.plan
*.plan.*
plan.out
plan.json
.tfplan*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
